// jQuery 3
script(src='adminlte/bower_components/jquery/dist/jquery.min.js')
// Bootstrap 3.3.7
script(src='adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js')
// DataTables
script(src='adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js')
script(src='adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
// SlimScroll
script(src='adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')
// FastClick
script(src='adminlte/bower_components/fastclick/lib/fastclick.js')
// AdminLTE App
script(src='adminlte/dist/js/adminlte.min.js')
// AdminLTE for demo purposes
script(src='adminlte/dist/js/demo.js')
// page script
script.
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
